[flake8]
max-line-length = 88
extend-ignore = E203, W503, E701, W291
exclude = .git, __pycache__, build, dist, .tox, .eggs, .mypy_cache, .pytest_cache
# Ignore specific errors
# E501: line too long
# E203: whitespace before ':'
# W503: line break before binary operator
# F401: module imported but unused
# F403: 'from module import *' used; unable to detect undefined names
# F405: name may be undefined, or defined from star imports: module
# F841: local variable 'x' is assigned to but never used
# F841: local variable 'x' is assigned to but never used            